body{
  background-color: rgb(108, 148, 148);
}

.encabe1{
  border: solid black 2px;
text-align: center;

}

.container2{
  display:flex;
  flex-direction: column;
  gap:20px;
 
}

.container3{
  padding: 2% 8%;
  background-color: rgb(174, 162, 162);
}

.container{
  display:grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  margin-top: 3%;
  
}
 
.botonContainer{
  width: 100%;
  margin:10% 0 
}

tr{
  background-color: red;

}

.encabe4{
  background-color:red;
}

.encabe2{
  border: solid black 2px;
  text-align: center;
  background-color: brown;
  
}

.buscaContainer{
  width: 100%;
  
  
}

.buscaContainer2{
  width: 100%;
  margin-right: 40px;
}
